body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    padding: 18px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

.input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px 14px;
    background: #2a78ff;
    color: white;
    border: none;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.patient-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
    width: 90%;
}

.badge-red {
    color: white;
    background: red;
    padding: 2px 6px;
    border-radius: 4px;
}

.btn-visit {
    background: green;
    padding: 8px 10px;
    color: white;
}